!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="">
/[if IE 8] <html class="no-js lt-ie9" lang="">
/ [if gt IE 8]><!
%html.no-js{:lang => ""}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title || "Oriol Sabate Portfolio"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /%script{:src => "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"}
    = javascript_include_tag "vendor/modernizr-2.8.3.min"
    = stylesheet_link_tag "main"
  %body{:class => data.page.page_class }
    /[if lt IE 8] <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    %header.site
      .row.hide-for-small
        %nav.large-6.column
          %ul.inline-list
            %li
              %a{:href => "/index.html"} home
            %li
              %a{:href => "/about.html"} about
            %li
              %a{:href => "mailto:oriolsabate@gmail.com"} contact
        %nav.large-6.column.right
          %ul.inline-list
            %li
              %a{:href => "https://www.linkedin.com/in/oriolsabate", :target => "_blank"}
                %i.fa.fa-linkedin
            %li
              %a{:href => "https://twitter.com/orioltweet", :target => "_blank"}
                %i.fa.fa-twitter
            %li
              %a{:href => "https://github.com/osabate", :target => "_blank"}
                %i.fa.fa-github
            %li
              %a{:href => "http://stackoverflow.com/users/2817112/oriol", :target => "_blank"}
                %i.fa.fa-stack-overflow
      
      .row.show-for-small
        #mobile-menu.small-12.column.close
          %nav
            %a#menu-icon{:href => "#"}
              %i.fa.fa-bars
            %ul.main-menu
              %li
                %a{:href => "/index.html"} home
              %li
                %a{:href => "/about.html"} about
              %li
                %a{:href => "mailto:oriolsabate@gmail.com"} contact
            %ul.inline-list
              %li
                %a{:href => "https://www.linkedin.com/in/oriolsabate", :target => "_blank"}
                  %i.fa.fa-linkedin
              %li
                %a{:href => "https://twitter.com/orioltweet", :target => "_blank"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://github.com/osabate", :target => "_blank"}
                  %i.fa.fa-github
              %li
                %a{:href => "http://stackoverflow.com/users/2817112/oriol", :target => "_blank"}
                  %i.fa.fa-stack-overflow



    %article.site{:class => data.page.article_class }
      = yield


    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    %script{:src => "javascripts/plugins.js"}
    %script{:src => "javascripts/main.js"}
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]= function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); ga('create','UA-XXXXX-X','auto');ga('send','pageview');

