---
title: About
page_class: about
---

%header.yellow
	.row
		.large-12.column.title
			%h1 Oriol Sabate
			%h4.subheader Product Manager

%section
	.row
		.hide-for-medium-up 
			%img{:src => "images/about/badges.jpg"}

		.large-9.column
			%h3 About
			%p
				For over ten years I have managed and developed web projects and SaSS products with different teams around the world.
				%br 
				My unique background in business and computer science has equipped me to translate complex problems into feasible solutions as well as given me the ability to execute them.
				/
					%br
					I enjoy focusing on product strategy and building products that customers love. 
				%br
				Filled with an entrepreneurial spirit and agile philosophy, I excel in startup environments with a let's-get-things-done attitude.

			%h5 Strengths
			%ul
				%li Solid decision-making skills for outcomes that balance conflicting interests
				%li Proven ability to influence, challenge and lead by example within a dynamic and complex environment
				%li Multi-skilled visionary with a deep product understanding of customers and competitors
				%li Using data-driven approaches to product development
				%li Experience building strong relationship with stakeholders in a matrixed organization
				%li Demonstrated aptitude for communicating with simplicity and appropriate authority, across all audiences

			%h5 Skills
			%p  Product strategy, marketing, data analytics, user experience, prototyping, development


		/
			%h3 About
			%p
				For over 9 years I have been managing and developing various web projects and SaSS products with different team settings across multiple countries.
				My unique background in business and computer science has granted me the ability to envision feasible solutions for complex problems as well as the capacity to execute them. 
				I like to focus on product strategy and building products that customers love. Filled with an entrepreneurial spirit and agile philosophy I excel in start-up environments with a get things done attitude.

			%h5 Aptitudes
			%ul
				%li Strong decision making skills with the ability to balance conflicting interests
				%li Able to influence, challenge and lead by example within a dynamic and complex environment
				%li Highly cross-skilled and a visionary with deep product understanding of customers and competitors
				%li Building strong relationship with stakeholders in a matrixed organization as well as external customers
				%li Using data-driven approaches to product development
				%li Capacity to communicate with simplicity and authority regardless of the audience

			%h5 Skills
			%p  Product strategy, marketing, data analytics, user experience, prototyping and development.

