---
title: Project Name
page_class: project
article_class: car-service
---

%header#hero.indigo
	.row
		.large-12.column.title
			%h1 Car Service Application
			%h4.subheader Front-End Software Engineer


%section#challenge.challenge.gray
	.row
		.large-5.column.title
			%h3 Challenge
			%p
				We inherited an old ground-transportation application that connected corporate buyers and travel agencies with car service providers. This division grew over the years but as new competitors entered the market&mdash;Uber, Lyft, etc.&mdash;its strategy became obsolete.
				In early 2015, we needed a new vision to continue competing in the space.
			%p
				We decided to turn the current car service business into a real 2.0 version in which we would: migrate the product completely to the cloud; develop mobile apps for both ends, chauffeurs and consumers; leverage real-time geolocation technologies; rebrand product and refresh the User Interface (UI); and integrate the service with our Travel app, B2B solution for corporate travel.
			%p
				My team and I worked on two sets of marketing and engineering challenges: the Web UI, Sign-Up process as well as the Marketing and Rebranding strategy.

			/
				%p
					Deem acquired Global Ground Automation (GGA) in 2008, a marketplace for ground transportation that connected corporate buyers and travel agencies with car service providers. This division grew over the years but as new competitors 
					entered the market--Uber, Lyft, etc.--its strategy became obsolete.
					In early 2015, we needed a new vision to continue competing in the space. We had to turn the current car service business into a real 2.0 version where:
				%ul
					%li Product would become completely cloud based.
					%li Develop mobile apps for both ends: chauffeurs and consumers.
					%li Leverage real-time geolocation technologies.
					%li Rebrand product and refresh the User Interface (UI).
					%li Integrate the service with our Travel app: B2B solution for corporate travel.
				%p
					I worked on the Web UI, Sign-Up process as well as the Marketing and Rebranding strategy.



		.large-2.column.large-offset-1.title
			%h3 Technologies
			%ul.tech-list
				%li HTML5
				%li CSS
				%li JavaScript
				%li.outlier Responsive Design
				%li Google API
				%li ASP
				%li IIS
				%li Perforce


		.large-3.column.large-offset-1.title
			%h3 Team
			%ul.team-list
				%li
					%a{:href => "https://www.linkedin.com/in/patrickwgrady", :target => "_blank"} Patrick Grady
					%span CEO
				%li
					%a{:href => "https://www.linkedin.com/in/tim-lawler-63a44b6", :target => "_blank"} Tim Lawler
					%span Director, Demand Generation
				%li
					%a{:href => "https://www.linkedin.com/in/williamtocher", :target => "_blank"} William Tocher
					%span Product Manager
				%li
					%a{:href => "https://www.linkedin.com/in/jackiemiehls", :target => "_blank"} Jackie Miehls
					%span Project Manager
				%li
					%a{:href => "https://www.linkedin.com/in/jonathanmeron", :target => "_blank"} Yoni Meron
					%span UI Designer
				%li
					%a{:href => "https://www.linkedin.com/in/zac-horn-9b541659", :target => "_blank"} Manimaran Mohan
					%span Principal Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/cathie-mitura-8591b01a", :target => "_blank"} Cathie Mitura
					%span QA Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/oriolsabate", :target => "_blank"} Oriol Sabate
					%span Front-End Software Engineer
				
				
					


%section#roadmap.roadmap
	.row
		.large-12.column.title
			%h3 Roadmap
	.row
		.large-6.column
			%p
				This ambitious project was divided into two phases. My team and I worked on phase one, which consisted of marketing and rebranding the new product offerings, refreshing the existing product UIs and automating the sign-up and onboarding process for greater scale.
			%ul.bullet-list
				%li 
					Marketing goals:
					%ul
						%li Define go-to-market strategy and demand generation campaigns to increase sign-ups.
						%li Brand and establish new product offerings and decommission obsolete ones.
				%li 
					Technical goals:
					%ul
						%li Modernize and refresh UI: API-driven architecture and code refactoring by levaraging new technologies and frameworks.
						%li Redefine and develop new sign-up and onboarding process: seamless and predictable user flow, push data to multiple end-points (product, marketing/sales tools, analytics) for enhanced customer insights, etc.


		.large-6.column
			/ %img{:src => "images/car-service/driver.png"}


%section#concept.concept.gray
	.row
		.large-12.column.title
			%h3 Concept and Design
	.row
		.large-6.column
			%ul.bullet-list
				%li Make it easy: intuitive and usable.
				%li Be consistent for both sets of customers: direct and white-label (branding, service standards, quality, privacy, permission, etc.).
				%li Deliver on the customer promise.
				%li Engage current and prospective users with intuitive and usable user-interface.

		.large-6.column


%section#implementation.implementation
	.row
		.large-12.column.title
			%h3 Implementation
	.row
		.large-6.column
			%ul.bullet-list
				%li 
					Marketing challenges:
					%ul
						%li Leverage existing communication channels such as newsletters, webinars, email, nurture campaigns to drive awareness and create leads.
						%li Execute an integrated marketing campaign that utilizes thought leadership and research-based content across multiple platforms: paid and organic search (SEO), blogs and social media.
						%li Use targeted digital and print advertising across publications consumed by our target audience such as the travel-trade press.
				%li 
					Technical challanges:
					%ul
						%li Migrate business logic to RESTful API and consume it across multiple sites.
						%li Refactor and/or integrate legacy stack (ASP, Client-Server Web architecture, XHTML, etc.).
						%li Make site responsive and accessible by multiple devices and users.
						%li Clean and simplify UI while maintaining resemblancce to previous design.

		.large-6.column


%section#success-factors.outcome
	.row
		.large-12.column.title
			%h3 Success Factors

	.row
		.large-4.column
			%ul.bullet-list
				%li 10x increase in sign-ups.
				%li Improved and simplified overall UX.
				%li Rebranded product, removing any ambiguity and communicating a consistent message.
				%li Blur the line between product and marketing sites through seamless sign-up/sign-in user-flows: discover, educate, retain, onboard and re-engage.

		.large-7.column.large-offset-1
			%ul{"data-orbit" => ""}
				%li
					%h5 BEFORE
					%img{:src => "images/car-service/success-before.jpg", :height => "400"}
				%li
					%h5 AFTER
					%img{:src => "images/car-service/success-after.jpg"}
		
