---
title: Project Name
page_class: project
article_class: chameleon
---

%header.teal
	.row
		.large-12.column.title
			%h1 Offers Web Application
			%h4 Front-End Software Engineer


%section.gray
	.row
		.large-5.column
			%h3 Challange
			%p
				Extending an existing Groupon-style syndicated commerce application that would provide configurable white-label capabilities, such as: content management, targeting, delivery, merchandising, transaction, operations and data. 
				This solution was made to run branded end-to-end (voucher-based and card-linked promotions) for any business to their end consumers.
				We made it available via RESTful APIs and accessible to multiple devices.


		.large-2.column.large-offset-1
			%h3 Technologies
			%ul.tech-list
				%li HAML
				%li SASS
				%li CoffeeScript
				%li Ruby on Rails
				%li Foundation CSS
				%li jQuery
				%li Git


		.large-3.column.large-offset-1
			%h3 Team
			%ul.team-list
				%li
					%a{:href => "https://www.linkedin.com/in/chrissherrard", :target => "_blank"} Chris Sherrard
					%span Product Manager
				%li
					%a{:href => "https://www.linkedin.com/in/zac-horn-9b541659", :target => "_blank"} Zac Horn
					%span Lead Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/timtaylordesign", :target => "_blank"} Timothy Taylor
					%span Lead UX Designer
				%li
					%a{:href => "https://www.linkedin.com/in/maximeliron", :target => "_blank"} Maxime Liron
					%span Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/alex-okolish-77108119", :target => "_blank"} Alex Okolish
					%span Software Engineer
				
					


%section
	.row
		.large-12.column.title
			%h3 Roadmap
	.row
		.large-6.column
			%ul.bullet-list
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section.gray
	.row
		.large-12.column.title
			%h3 Design Review
	.row
		.large-6.column
			%ul.bullet-list
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section
	.row
		.large-12.column.title
			%h3 Implementation
	.row
		.large-6.column
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section
	.row
		.large-12.column.title
			%h3 Success Factors

	.row
		.large-6.column
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
		

%footer.site
	.row
		.large-12.column.title
			%h3 Other Projects:
	.row
		.large-12.column
			%ul.large-block-grid-4
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-12.column
			%small
				&copy; 2016 Oriol Sabate. All rights reserved.
