---
title: Project Name
page_class: project hide
article_class: chameleon
---

%header#hero.teal
	.row
		.large-12.column.title
			%h1 Offers Web Application
			%h4.subheader Front-End Software Engineer


%section.gray
	.row
		.large-5.column.title
			%h3 Challange
			%p
				This project consisted in extending an existing Groupon-style syndicated commerce application that would provide configurable white-label capabilities, such as: content management, targeting, delivery, merchandising, transaction, operations and data. 
				This solution would run branded end-to-end for any business to their end consumers.
				And as a true modern application, deal content would be made accessible to multiple partners and interfaces through RESTful APIs.


		.large-2.column.large-offset-1.title
			%h3 Technologies
			%ul.tech-list
				%li HAML
				%li SASS
				%li CoffeeScript
				%li Ruby on Rails
				%li Foundation CSS
				%li jQuery
				%li Git


		.large-3.column.large-offset-1.title
			%h3 Team
			%ul.team-list
				%li
					%a{:href => "https://www.linkedin.com/in/chrissherrard", :target => "_blank"} Chris Sherrard
					%span Product Manager
				%li
					%a{:href => "https://www.linkedin.com/in/zac-horn-9b541659", :target => "_blank"} Zac Horn
					%span Lead Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/timtaylordesign", :target => "_blank"} Timothy Taylor
					%span Lead UX Designer
				%li
					%a{:href => "https://www.linkedin.com/in/maximeliron", :target => "_blank"} Maxime Liron
					%span Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/alex-okolish-77108119", :target => "_blank"} Alex Okolish
					%span Software Engineer
				
					


%section
	.row
		.large-12.column.title
			%h3 Roadmap
	.row
		.large-6.column
			%ul.bullet-list
				%li
					Define custom UI touch-points and flexible framework for interface design: Basic logo, branding, color configuration from roughly 10-20 deploy-time settings, which affects web, mobile web, and email experiences.
				%li
					Build simple request middleware to detect domain and load appropriate configuration
				%li
					Ability to suck deal content into existing site via RESTful API
				%li
					Automate onboarding process. Cheaper and 10x faster than manual configuration.


		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section.gray
	.row
		.large-12.column.title
			%h3 Design Review
	.row
		.large-6.column
			%ul.bullet-list
				%li
					Make It Easy – Intuitive, Flexible, Empowering
				%li
					Be Consistent – Program Branding, Service Standards, Quality, Privacy, Permission
				%li
					Deliver on the Customer Promise
				%li
					Engage – Compelling Content, Relevant & Personalized, Customer Dialogue (feedback/rewards/recognition)


		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section
	.row
		.large-12.column.title
			%h3 Implementation
	.row
		.large-6.column
			%ul.bullet-list
				%li
					Leverage front-end frameworks and pre-compilers for fast UI development: jQuery, Foundation CSS, Haml, Sass, Coffeescript.
				%li
					Ruby on Rails stack for modern web application development.
				%li
					Versioning with git & github
				%li
					Testing with Rspec and Cucumber
				%li
					Deployment with Jenkins [link] and Heroku [link]


		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section.outcome
	.row
		.large-12.column.title
			%h3 Success Factors

	.row
		.large-4.column
			%ul.bullet-list
				%li Low cost implementation due to lack of upfront development work. 
				%li Higher deal/offer conversion rates.
				%li Branded and custom deals provided.
				%li Ability to suck deal content into different partner Apps via RESTful API.
				


		.large-6.column.large-offset-2
			%ul.large-block-grid-2.data-sets
				%li
					%span.stat
						$50k
					%span
						per partner configuration
				%li
					%span.stat
						&#46;25%
					%span
						higher conversion rates  
				%li
					%span.stat
						API
					%span
						for easy implementation
		

%footer.site
	.row
		.large-12.column.title
			%h3 Other Projects:
	.row
		.large-12.column
			%ul.large-block-grid-4
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					%a{:href=>'#'}
						%h5 Project Name
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-12.column
			%small
				&copy; 2016 Oriol Sabate. All rights reserved.
