---
title: Project Name
page_class: project
article_class: galaga
---

%header#hero.green
	.row
		.large-12.column.title
			%h1 Corporate Website
			%h4.subheader Web Developer


%section#challenge.challenge.gray
	.row
		.large-5.column.title
			%h3 Challenge
			%p
				In 2011, the company faced a significant challenge integrating its internal applications and those acquired in recent years to work around the user and anticipate their needs. Through a suite of interoperable smart applications, this platform was designed to leverage big data, analytics and semantics to optimize the exchange of goods, services and information. 

			%p
				Our team was tasked with creating a new brand and corporate website to better represent the new offerings; a marketing plan to grow app revenue; and a communications strategy to drive messaging, relaunch the company and promote the brand internally and externally. 



		.large-2.column.large-offset-1.title
			%h3 Technologies
			%ul.tech-list
				%li HTML5
				%li CSS
				%li jQuery
				%li.outlier Graceful Degradation
				%li.outlier Web Standards
				%li ModX
				%li PHP
				%li MySQL
				%li Apache
				%li Linux


		.large-3.column.large-offset-1.title
			%h3 Team
			%ul.team-list
				%li
					%a{:href => "https://www.linkedin.com/in/andreacunningham", :target => "_blank"} Andy Cunningham
					%span Chief Marketing Officer
				%li
					%a{:href => "https://www.linkedin.com/in/leebellon", :target => "_blank"} Lee Bellon
					%span VP of Brand
				%li
					%a{:href => "https://www.linkedin.com/in/jonathanmeron", :target => "_blank"} Yoni Meron
					%span Project Manager
				%li
					%a{:href => "https://www.linkedin.com/in/whereisz", :target => "_blank"} Z Lin
					%span Art Director
				%li
					%a{:href => "https://www.linkedin.com/in/mike-wang-98409322", :target => "_blank"} Mike Wang
					%span Branding Consultant
				%li
					%a{:href => "https://www.linkedin.com/in/aileenchengdesign", :target => "_blank"} Aileen Cheng
					%span Senior Designer
				%li
					%a{:href => "https://www.linkedin.com/in/annascrilliams", :target => "_blank"} Anna Williams
					%span Brand Content Manager
				%li
					%a{:href => "https://www.linkedin.com/in/brendanjbond", :target => "_blank"} Brendan Bond
					%span Motion Graphics Designer
				%li
					%a{:href => "https://www.linkedin.com/in/oriolsabate", :target => "_blank"} Oriol Sabate
					%span Web Developer
				%li
					%div.others +16 product marketing and strategic communications team members
				
					


%section#roadmap.roadmap
	.row
		.large-12.column.title
			%h3 Roadmap
	.row
		.large-6.column
			%ul.bullet-list
				%li Build new corporate website as a marketing/sales tool, communications platform, customer-support reference and flagship of company's new mission and strategy.
				%li Articulate and rollout Brand X.
				%li Align corporate vision, strategy and brand while folding in product marketing.
				%li Analyze, enhance and maintain perception both internally and externally.
				%li Position company to attract partners, talent, etc.


		.large-5.column
			%img{:src => "images/galaga/deem_logo_construct.jpg"}


/
	%section#implementation.implementation.gray
		.row
			.large-12.column.title
				%h3 Implementation
		.row
			.large-6.column
				%ul.bullet-list
					%li 
						Technical challanges:
						%ul
							%li Move it to a CMS system where content editors could edit it. (import thousand file-based site)
							%li Modernize site: HTML6, Flash decomission, IE6+ compatible, etc. 
							%li Empower Marketing team (+25 people) to make site edits without technical involvment
							%li Design & build Sys.

			.large-6.column


%section#success-factors.outcome
	.row
		.large-12.column.title
			%h3 Success Factors

	.row
		.large-5.column
			%ul.bullet-list
				%li Built new corporate website.
				%li Rolled out Brand X, which was fully adopted by disparate product teams. 
				%li Grew applications revenue by developing new solution packages for our target audience: businesses, merchants and consumers.
				%li Coalesced internal brands to maximize brand equity and enable cross/up-selling.
				%li Built systems and processes that fostered new vision, assimilated new talent and promoted coherent story.

		.large-6.column.large-offset-1
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "images/galaga/apps.jpg", :height => "440"}
				%li
					%img{:src => "images/galaga/solutions.jpg"}
				%li
					%img{:src => "images/galaga/travel.jpg"}
				%li
					%img{:src => "images/galaga/careers.jpg"}
		
