---
title: Homepage
page_class: homepage
---

%header
	.row
		.large-12.column
			%h1 Oriol Sabate
			%h3 UX Engineer

%section
	.row
		%a.large-12.column{:href => 'project.html'}
			%img{:src => 'http://placehold.it/1200x400'}
			%h4 Project Name
			%p.hide-for-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.


%section
	.row
		%a.large-12.column{:href => 'project.html'}
			%img{:src => 'http://placehold.it/1200x400'}
			%h4 Project Name
			%p.hide-for-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.


%section
	.row
		%a.large-12.column{:href => 'project.html'}
			%img{:src => 'http://placehold.it/1200x400'}
			%h4 Project Name
			%p.hide-for-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.