---
title: Homepage
page_class: homepage
---

%header
	.row
		.large-12.column
			%h1 Oriol Sabate
			%h4.subheader Product Manager


%section.car-service
	.row
		%a.large-12.column{:href => 'car-service.html'}
			.frame.indigo
				%img{:src => 'images/car-service/hero.png'}
			%h4 Car Service Application 
			/ (2015)
			%p.hide-for-small A marketplace for ground transportation that connected corporate buyers and travel agencies with car service providers.


%section.chameleon
	.row
		%a.large-12.column{:href => 'offers.html'}
			.frame.teal
				%img{:src => 'images/chameleon/hero.png', :width => '71%'}
			%h4 Offers Web Application 
			/ (2012)
			%p.hide-for-small A members-only online social buying club delivering offers from local businesses, membership rewards and incentives.


%section.galaga
	.row
		%a.large-12.column{:href => 'galaga.html'}
			.frame.green
				%img{:src => 'images/galaga/hero.jpg', :width => '71%'}
			%h4 Corporate Site 
			/ (2011)
			%p.hide-for-small A next generation eCommerce platform company, offers Smart Apps, services, content and powerful personalization capabilities that enable relevant and meaningful transactions.
