---
title: Project Name
page_class: project
article_class: chameleon
---

%header#hero.teal
	.row
		.large-12.column.title
			%h1 Offers Web Application
			%h4.subheader Front-End Software Engineer


%section#challenge.gray
	.row
		.large-5.column.title
			%h3 Challenge
			%p
				This project consisted in extending a syndicated commerce application to allow white-label configurable capabilities, such as: content management, customer targeting, offers delivery, merchandising inventory, transactions, operations and data analytics. 
				This application was made to deliver end-to-end company-branded content to their end consumers in an easy manner.
				Also, content was made accessible to multiple partners and interfaces through RESTful APIs, so same deal providers could leverage the size of the network.


		.large-2.column.large-offset-1.title
			%h3 Technologies
			%ul.tech-list
				%li HAML
				%li SASS
				%li CoffeeScript
				%li.outlier Responsive Design
				%li Ruby on Rails
				%li Foundation CSS
				%li jQuery
				%li Git


		.large-3.column.large-offset-1.title
			%h3 Team
			%ul.team-list
				%li
					%a{:href => "https://www.linkedin.com/in/helen-huang-01a46a2", :target => "_blank"} Helen Huang
					%span Director, Product Marketing and GM of HomeRun.com
				%li
					%a{:href => "https://www.linkedin.com/in/chrissherrard", :target => "_blank"} Chris Sherrard
					%span Product Manager
				%li
					%a{:href => "https://www.linkedin.com/in/zac-horn-9b541659", :target => "_blank"} Zac Horn
					%span Lead Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/timtaylordesign", :target => "_blank"} Timothy Taylor
					%span Lead UX Designer
				%li
					%a{:href => "https://www.linkedin.com/in/maximeliron", :target => "_blank"} Maxime Liron
					%span Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/alex-okolish-77108119", :target => "_blank"} Alex Okolish
					%span Software Engineer
				%li
					%a{:href => "https://www.linkedin.com/in/davidejorgensen", :target => "_blank"} David Jorgensen
					%span Quality Assurance Manager
				%li
					%a{:href => "https://www.linkedin.com/in/oriolsabate", :target => "_blank"} Oriol Sabate
					%span Front-End Software Engineer
					


%section#roadmap
	.row
		.large-12.column.title
			%h3 Roadmap
	.row
		.large-5.column
			%ul.bullet-list
				%li
					Define custom UI touch-points and flexible framework for interface design: basic logo, branding, color configuration from roughly 10-20 deploy-time settings, which affects web, mobile web and email experiences.
				%li
					Automate onboarding process. Cheaper and 10x faster than manual configuration.
				%li
					Build simple request middleware to detect domain and load appropriate configuration.
				%li
					Ability to suck deal content into existing site via RESTful APIs.
					


		.large-6.column
			%ul#test{"data-orbit" => ""}
				%li
					%img{:src => "images/chameleon/sign-up.png", :height => "309"}
				%li
					%img{:src => "images/chameleon/configuration.png"}
					


%section#concept.gray
	.row
		.large-12.column.title
			%h3 Concept and Design
	.row
		.large-5.column
			%ul.bullet-list
				%li
					Make It Easy&mdash;intuitive, flexible, empowering.
				%li
					Be Consistent&mdash;program branding, service standards, quality, privacy, permissions.
				%li
					Engage with the end user using relevant and personalized content, compelling UI and promoting customer dialogue through feedback and rewards programs.
				%li
					Deliver on the customer promise.


		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "images/chameleon/mockup-3.jpg", :height => "401"}
				%li
					%img{:src => "images/chameleon/mockup-2.jpg"}
				%li
					%img{:src => "images/chameleon/mockup-1.jpg"}


%section#implementation
	.row
		.large-12.column.title
			%h3 Implementation
	.row
		.large-5.column
			%ul.bullet-list
				%li
					Leverage front-end frameworks and pre-compilers for fast UI development: jQuery, Foundation CSS, Haml, Sass, Coffeescript.
				%li
					Ruby on Rails stack for modern web application development.
				%li
					Versioning with git and github.
				%li
					Testing with Rspec and Cucumber.
				%li
					Deployment with Jenkins and Heroku.


		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "images/chameleon/check-out.jpg", :height => "309"}
				%li
					%img{:src => "images/chameleon/email.jpg"}


%section#success-factors.outcome
	.row
		.large-12.column.title
			%h3 Success Factors

	.row
		.large-4.column
			%ul.bullet-list
				%li Low cost implementation due to lack of upfront development work. 
				%li Higher conversion rates.
				%li Branded and custom deals provided.
				%li Ability to suck deal content into different partner apps via RESTful API.
				


		.large-6.column.large-offset-2
			%ul.large-block-grid-2.data-sets
				%li
					%span.stat
						$50k
					%span
						per partner configuration cost
				%li
					%span.stat
						2.5%
					%span
						higher conversion rates  
				%li
					%span.stat
						API
					%span
						for easy implementation
		
