---
title: Project Name
page_class: project
---

%header
	.row
		.large-12.column.title
			%h1 Project Name
		.large-12.column.slideshow-wrapper
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/400/"}
				%li
					%img{:src => "http://placehold.it/400x400"}
				%li
					%img{:src => "http://lorempixel.com/400/400/"}


%section.gray
	.row
		.large-5.column
			%h3 Challange
			%p 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-2.column.large-offset-1
			%h3 Technologies
			%ul.tech-list
				%li HTML
				%li CSS
				%li JavaScript
				%li Ruby
				%li Ruby on Rails

		.large-3.column.large-offset-1
			%h3 Team
			%ul.block-grid.large-block-grid-2
				%li
					%a{:href => "#"} Person A
				%li
					%a{:href => "#"} Person B
				%li
					%a{:href => "#"} Person C


%section
	.row
		.large-6.column
			%h3 Research
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}


%section.gray
	.row
		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}

		.large-6.column
			%h3 Design Review
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.


%section
	.row
		.large-6.column
			%h3 Implementation
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}

%section.gray
	.row
		.large-6.column
			%h3 Success factors
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				%li
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		.large-6.column
			%ul{"data-orbit" => ""}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
				%li
					%img{:src => "http://lorempixel.com/400/300/"}
		


